<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8" />
    <title>11ty Test Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ env.baseHref }}/css/index.css"
    />
    <script src="{{ env.baseHref }}/js/index.js"></script> 
  </head>
  <body>
    <div id="navbar">
      <div class="logo"><a href="{{ env.baseHref }}/index.html">Website</a></div>
      <div class="links">
        <a href="{{ env.baseHref }}/index.html">home</a>
        <a href="{{ env.baseHref }}/about.html">about</a>
      </div>
    </div>
    <div class="content">
    {{content | safe}}
    </div>
    <footer>
      &copy; 2022
      <a href="http://feralresearch.org">Feral Research</a> - {{ page.date }}
    </footer>
  </body>
  </html>
