*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  color: #101010;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  font-display: optional;
}

body {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: aliceblue;
  padding: 0.5rem;
}

#navbar .links {
  flex-grow: 1;
  text-align: right;
}

.content {
  max-width: 50rem;
  margin: auto;
  background-color: white;
  min-height: 100vh;
  padding: 4rem 2rem 2rem 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100vw;
  background-color: aliceblue;
  text-align: center;
  font-size: 0.7rem;
  justify-content: center;
}

footer a {
  color: rgb(255, 0, 174);
  text-decoration: none;
  margin: 0 0.25rem 0 0.25rem;
}

footer a:hover {
  color: #101010;
}

code {
  display: inline-block;
  border-radius: 0.3rem;
  background-color: rgb(187, 183, 183);
  border: black 1px solid;
  padding: 1rem;
  width: 100%;
}
